@media (max-width:480px){
    .menu .width-max{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:110px;

    }
    .width-max div, .width-max nav{
        padding: 5px 0 ;
    }
    .width-max .navegacao{
        width: 100%; 
        display: flex;
        justify-content: space-around;
    }
    .navegacao a{
        font-weight: 900;
        
    }
    main{
        background-color: rgb(216, 214, 214);
        background-image: none;
    }
    .titulo h1{
        font-size:25px ;
        margin-left: 0;
        margin-top: 50px;

    }
    .titulo{
        max-width: 480px;
        height: 400px;
    }
   .row-1{
    display: none;
   } 
   p, ul{
    font-size: 20px;
    margin:0 10px;
    list-style: none;
   }
   .galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .galeria .card{
    margin-bottom: 20px;
   }
   .link-horario a{
    font-size: 20px;
    font-weight: 900;
   }
   iframe{
    max-width: 480px;
    width: 40%;
    
   }
   .width-max-conteudo{
    width: 90%;
   }
   .width-max-conteudo div:first-of-type{
    width: 90%;
   }
   .desenvolvido p{
    font-size: 18px;
}
.desenvolvido span{
    font-weight: bolder;
    font-size: 20px;
}
} 


@media (min-width:426px)
    and (max-width: 768px){
    header .menu{
        max-width: 768px;
        padding-bottom: 10px;
    }
    header .width-max{
        display: flex;
        flex-direction: column;
    }
     main{
        background-color: rgb(216, 214, 214);
        background-image: none;
    }
     .nav{
        padding-right: 5px;
    }
    .width-max .navegacao{
        width: 100%; 
        display: flex;
        justify-content: space-around;
    }
    .navegacao a{
        font-size: 25px;
    }
    .width-max-conteudo{
        width: 90%;
        max-width: 768px;
    }
    .titulo h1{
        font-size:40px ;
        margin-left: 0;
    }
    .titulo{
        max-width: 768px;
        height: 300px;
    }
    .row-1{
    display: none;
   } 
   .width-max-conteudo  p{
    width: 90%;
    margin: 0 auto;
   }
    p, ul{
    font-size: 20px;
   }
   .galeria{
    flex-wrap: wrap;
    }
    .card{
        margin: 20px 5px;
        flex-grow: 1;
    }
    .link-horario a{
        font-size: 23px;
        font-weight: 900;
}
footer{
    max-width: 768px;
}
}

@media (min-width:769px)
  and  (max-width:1024px){
    header .width-max{
        width: 90%;
        justify-content: space-around;
    }
    .navegacao {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .navegacao a{
        font-size: 25px;
    }
    .titulo{
        max-width: 1024px;
        height: 400px;
    }
    .width-max-conteudo{
        width: 90%;
    }
    p, ul{
    font-size: 20px;
   }
   .galeria{
    flex-wrap: wrap;
    }
    .card{
        margin: 20px 5px;
        flex-grow: 1;

    }
    .link-horario a{
        font-size: 23px;
        font-weight: 900;
}
}